body {
	margin: 0px;
}

.icon-btn {
	cursor: pointer;
	display: inline-block;
}

h1 {
	text-align:center;
}

h2.registry_details {
	margin-top: 0px;
	margin-bottom: 0px;
}

h3.registry_details {
	margin-bottom: 0px;
	display: inline-block;
}

h4 {
	display: inline-block;
	margin: 0;
}

#menu_title {
	font-size: 1.2em;
	margin-left: 10px;
	margin-right: 1em;
	vertical-align: sub;
}

#menu_toolbar {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	border: none;
	width: 100%;
}

#menu_toolbar button {
	margin: 2px;
}

#main_content {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	border: none;
	margin-left: 0px;
	margin-right: 0px;
}

.toolbar {
	padding: 4px;
	display:inline-block;
}

#registry {
	padding: 5px;
}

#registry_tree {
	float:left;
	padding: 5px;
}

#registry_content {
	display:table;
	padding: 5px;
}

.ui-table {
	margin: 0;
	border-collapse:
	collapse;
}

.ui-table td, .ui-table table th {
	border: 1px solid #eee;
	padding: .2em .2em;
	text-align: left;
}

.ui-table tr:nth-child(even) {
	background: #F0F0F0;
}

#tbl_logs {
	width: 100%;
}

.log_err {
	color: red;
}

.log_warn {
	color: orange;
}

.log_info {
	color: black;
}

.log_debug {
	color: blue;
}

#logs_toolbar {
	margin-bottom: 1em;
}

#logs_lvl_radio {
	display: inline-block;
}

.weboutput_images_content {
	display: inline-block;
}
