
body {
	margin: 0px;
}

div#root {
	padding-left: 8px;
	padding-right: 8px;
	overflow: auto;
}

h1 {
	text-align:center;
}

h2.details {
	margin-top: 0px;
}
h3.details {
	margin-bottom: 0px;
	display: inline-block;
}

#toolbar {
	padding: 4px;
	display:inline-block;
}


.ui-table {
	margin: 0;
	border-collapse:
	collapse;
}

.ui-table td, .ui-table table th {
	border: 1px solid #eee;
	padding: .2em .2em;
	text-align: left;
}


/* Tab stuff below for the menu */

.ui-tabs.ui-tabs-vertical {
	padding: 0;
}

.ui-tabs.ui-tabs-vertical > .ui-tabs-nav {
	float: left;
	background: #CCC;
	border-radius: 4px 0 0 4px;
	border: 1px solid gray;
}

.ui-tabs.ui-tabs-vertical > .ui-tabs-nav li {
	clear: left;
	width: 100%;
	margin: 0.2em 0;
	border: 1px solid gray;
	border-width: 1px 0 1px 1px;
	border-radius: 4px 0 0 4px;
	overflow: hidden;
	position: relative;
	right: -2px;
	z-index: 2;
}

.ui-tabs.ui-tabs-vertical > .ui-tabs-nav li a {
	display: block;
	width: 100%;
	padding: 0.6em 1em;
}

.ui-tabs.ui-tabs-vertical > .ui-tabs-nav li a:hover {
	cursor: pointer;
	display: inline-block;
}


.ui-tabs.ui-tabs-vertical > .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0.2em;
	padding-bottom: 0;
}

.ui-tabs.ui-tabs-vertical > .ui-tabs-nav li:last-child {
	margin-bottom: 10px;
}

.ui-tabs.ui-tabs-vertical > .ui-tabs-panel {
	overflow: auto;
	border-left: 1px solid gray;
	border-radius: 0;
	position: relative;
	left: -1px;
	padding: 0 0 0 0.5em;
	margin: 0;
}

#registry {
	background: #CCC;
}

.no-close .ui-dialog-titlebar-close {
	display: none
}

.icon-btn {
	cursor: pointer;
	display: inline-block;
}


.logs {
	position: fixed;
	bottom: 0px;
	height: 11em;
	width: 100%;
	clear: both;
}

.logs-min {
	height: 1.3em;
}

.logs-full {
	height: 100%;
}

.logs-hdr {
	height: 1.3em;
}

.logs-content {
	overflow-y: auto;
	font-size: small;
}

#tbl_logs tr:nth-child(odd) {
	background: #DADADA;
}

.log_err {
	color: red;
}

.log_warn {
	color: orange;
}

.log_info {
	color: black;
}
.log_debug {
	color: blue;
}

#weboutput li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
